<div id="map-container"></div>

<div class="card info-card">
	<div class="card-header ">
		<input type="text" class="form-control input-field bg-dark" id="input-search" placeholder="Search Anywhere">

	</div>

	{{#if currCities}}
	<div class="scroll" id="info-list">
		<ul class="list-group list-group-flush">
			{{#each currCities as |cell|}}
				<li class="list-group-item info-display" onclick={{action "cityClicked" cell}}>{{cell}}{{fa-icon "location-arrow" pull="right"}}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

	{{#if currPOI}}
		{{#if currCountry}}
		<div>
			<button class="btn bg-dark explore-country" onclick={{action "exploreCountryBtnCLicked" currCountry}}>Explore other places in {{currCountry}}</button>
		</div>
				
		{{/if}}
	<div class="scroll" id="info-list">

		<ul class="list-group list-group-flush">
			
			{{#each currPOI as |cell|}}
				<li class="list-group-item info-display">{{cell}}{{fa-icon "plus" pull="right" class="select" click=(action "addIconClicked" currCity cell)}}
				</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

</div>

{{#if currPlan}}
<div class="card plan-card">
	<div class="card-header" id="description">
		<button class="btn bg-dark save-plan-btn" onclick={{action "savePlan"}}>Save Plan</button>
	</div>
	<!-- <div class="card-body" id="plan-list"> -->
		{{#cp-panels name='plan-panel' class="scroll" as |panels|}}
		{{#each currPlan as |city|}}
		  {{#panels.panel name=city.name as |panel|}}
		    {{#panel.toggle}}
		      {{city.name}}
		    {{/panel.toggle}}
		    {{#panel.body}}
		      <div>
		      	<ul class="list-group list-group-flush">
		        {{#each city.attractions as |attraction|}}
					<li class="list-group-item plan-display">{{attraction}}{{fa-icon "close" class="remove-select" pull="right" click=(action "removeIconClicked" city.name attraction)}}</li>
		        {{/each}}
		        </ul>
		      </div>
		    {{/panel.body}}
		  {{/panels.panel}}
		  {{/each}}

		{{/cp-panels}}
	<!-- </div> -->
</div>
{{/if}}



{{yield}}